// Bootstrap
@import "vendor/bootstrap/scss/bootstrap.scss";

body {
  background: #fbfcfd;
}

.cta-wrapper {
  font-family: 'Muli', sans-serif;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  margin-top: 30px;

  p {
    font-size: 16px;
    color: #000000;
    margin: 0;
  }

  .btn-primary {
    background-color: #5a9cff;
    border-color: #5a9cff;

  }

  .btn-outline-primary {
    color: #5a9cff;
    border-color: #5a9cff;
    border-width: 2px;

    &:hover {
      color: #fff;
      background-color: #5a9cff;
      border-color: #5a9cff;
    }
  }

  .btn {
    padding: 15px 12px;
    border-width: 2px;
  }
}
